body{
    background-image: url(bilder/hang_in_there.jpg);
}
h1{
    color: #ff03e6;
    background-color: rgba(250, 235, 215, 0.55);
    font-family: papyrus;
    font-weight: bolder;
    display: inline-flex;
    text-align: center;
}
p{
    color:#dc00c6;
    background-color: rgba(250, 235, 215, 0.55);
    text-align: center;
    font-family: papyrus;
    font-weight: bold;
    font-size: medium;
    display: inline-flex;
}