/*variabler*/
:root {
    /*font*/
    --site-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --link-font-weight: bold;
    --navbar-font-size: calc(1vw + 0.6rem);
    
    /*generelt utseende*/
    --background-color: #2E3234;
    --text-color: #F3F9E3;
    --navbar-background-color: rgb(0, 189, 164);
    --navbar-text-color: #2E3234;
    --navbar-background-hover-color:#2E3234;
    --navbar-text-hover-color: #F3F9E3;
   
    /*prod. og historiefortelling-spesifikt utseende*/
    --poh-pr-btn-color: rgb(255, 200, 62);
    --poh-pr-btn-hover-color: rgba(255, 200, 62, 0.9);
    --poh-pr-navbar-background-color: rgb(255, 200, 62);
    --poh-pr-navbar-text-color: #2E3234;
   
    /*konseptutvikling og programmering-spesifikt utseende*/
    --kop-pr-btn-color: rgb(53, 96, 145);
    --kop-pr-btn-hover-color: rgba(53, 96, 145, 0.9);
    --kop-pr-navbar-background-color: rgb(53, 96, 145);
    --kop-pr-navbar-text-color: #2A2729;
}

/*definerer sidens bakgrunnsfarge*/
body {
    background-color: var(--background-color);
}

/*definerer div'en som sidens innhold er i*/
.content {
    margin: 0% 8% 0% 8%;
}

/*definerer hvordan vanlig tekst ser ut*/
p {
    font-family: var(--site-font);
    color: var(--text-color);
}

/*definerer hvordan overskrifter ser ut*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--site-font);
    color: var(--text-color);
}
