/*definerer sidens bakgrunnsfarge*/
body {
    background-color: var(--background-color);
}

/*div'en som sidens innhold er i*/
.content {
    margin: 0% 8% 0% 8%;
}

.content a {
    color: var(--text-color);
}

/*vanlig tekst*/
p {
    font-family: var(--site-font);
    color: var(--text-color);
}

/*overskrifter*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--site-font);
    color: var(--text-color);
}