.topnav {
    overflow: hidden;
    background-color: var(--kop-nb-bg-color);
    display: flex;
    margin: -8px;
    justify-content: stretch;
    font-family: var(--site-font-fam);
    font-weight: var(--link-font-weight);
}

.topnav a {
    color: var(--kop-nb-font-color);
    font-size: var(--nb-font-size);
    padding: 8px;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.dropdown {
    overflow: hidden;
    flex-grow: 1;
    text-align: center;
}

.dropdown .dropbtn {
    font-size: var(--nb-font-size);
    border: none;
    outline: none;
    color: var(--kop-nb-font-color);
    padding: 8px;
    background-color: var(--kop-nb-bg-color);
    font-family: var(--site-font-fam);
    font-weight: var(--link-font-weight);
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--kop-nb-bg-color);
    min-width: 100px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.dropdown-content a {
    color: var(--kop-nb-font-color);
    text-decoration: none;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-wrap: wrap;
}

.topnav a:hover {
    background-color: var(--kop-nb-bg-hov-color);
    color: var(--kop-nb-font-hov-color);
}

.dropdown:hover .dropbtn, .dropdown:hover {
    background-color: var(--kop-nb-bg-hov-color);
    color: var(--kop-nb-font-hov-color);
}

/*bokser rundt linker til kop-prosjekter*/
.kop_project {
    padding: 20px;
    background-color: var(--kop-btn-color);
    text-align: center;
    border-radius: 1vh;
}

/*definerer hva som skjer når du hovrer over bokser til kop-prosjekter*/
.kop_project:hover {
    background-color: var(--kop-btn-hov-color);
}

.kop_project_link {
    color: var(--kop-nb-font-color) !important;
    text-decoration: none;
    font-family: var(--site-font-fam);
    font-weight: var(--link-font-weight);
}