.topnav {
    overflow: hidden;
    background-color: var(--nb-bg-color);
    display: flex;
    margin: -8px;
    justify-content: stretch;
    font-family: var(--site-font-fam);
    font-weight: var(--link-font-weight);
}

.topnav a {
    color: var(--nb-font-color);
    font-size: var(--nb-font-size);
    padding: 8px;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.topnav a:hover {
    background-color: var(--nb-bg-hov-color);
    color: var(--nb-font-hov-color);
}


.dropdown {
    overflow: hidden;
    flex-grow: 1;
    text-align: center;
}

.dropdown .dropbtn {
    font-size: var(--nb-font-size);
    border: none;
    outline: none;
    color: var(--nb-font-color);
    padding: 8px;
    background-color: var(--nb-bg-color);
    font-family: var(--site-font-fam);
    font-weight: var(--link-font-weight);
    margin: 0;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--nb-bg-color);
    min-width: 100px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-wrap: wrap;
}

.dropdown:hover .dropbtn, .dropdown:hover {
    background-color: var(--nb-bg-hov-color);
    color: var(--nb-font-hov-color);
}

/*remove these*/
.poh_page_link:hover {
    background-color: var(--nb-bg-hov-color) !important;
    color: var(--poh-nb-bg-color) !important;
}

.kop_page_link:hover {
    background-color: var(--nb-bg-hov-color) !important;
    color: var(--kop-nb-bg-color) !important;
}