/*definerer selve navbaren*/
.topnav {
    overflow: hidden;
    background-color: var(--navbar-background-color);
    display: flex;
    margin: -8px;
    justify-content: stretch;
    font-family: var(--site-font);
    font-weight: var(--link-font-weight);
}

/*definerer linkene i navbaren*/
.topnav a {
    color: var(--navbar-text-color);
    font-size: var(--navbar-font-size);
    padding: 8px;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

/*definerer menyen som dropper ned*/
.dropdown {
    overflow: hidden;
}

/*definerer dropknappen*/
.dropdown .dropbtn {
    font-size: var(--navbar-font-size);
    border: none;
    outline: none;
    color: var(--navbar-text-color);
    padding: 8px;
    background-color: var(--navbar-background-color);
    font-family: var(--site-font);
    font-weight: var(--link-font-weight);
    margin: 0;
    flex-grow: 1;
}

/*definerer hva som skal skje når man hovrer over linkene i navbaren*/
.topnav a:hover {
    background-color: var(--navbar-background-hover-color);
    color: var(--navbar-text-hover-color);
}

/*definerer linkene som dropper ned*/
.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--navbar-background-color);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*definerer hvordan linkene i dropdownen ser ut*/
.dropdown-content a {
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-wrap: wrap;
}

.poh_page_link:hover {
    background-color: var(--poh-pr-navbar-background-color) !important;
    color: var(--poh-pr-navbar-text-color) !important;
}

.kop_page_link:hover {
    background-color: var(--kop-pr-navbar-background-color) !important;
    color: var(kop-pr-navbar-text-color) !important;
}
